<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://changapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>changapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <ResourceId>/subscriptions/225b8395-a5f9-4530-aa38-7a344fc048d3/resourceGroups/WiFiModuleGroup/providers/Microsoft.Web/sites/ChangApp</ResourceId>
    <DeployIisAppPath>ChangApp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ChangApp</UserName>
    <_SavePWD>True</_SavePWD>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
  </PropertyGroup>
</Project>